.side-menu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 20px;
    overflow: auto;
    font-family: sans-serif, Arial, Helvetica;
  }
  
  .side-top {
    margin-bottom: 4rem;
    color: #151D48;
  }
  
  .side-bottom {
    display: flex;
    flex-direction: column;
  }
  
  .side-bottom div {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content:left;
    padding-left: 2.5rem;
    color: #737791;
  }
  
  .side-bottom p {
    margin-left: 10px;
  }
  

.icon {
    margin-right: 5px;
    font-size: 1rem;
    color: #737791;
  }