.customers{
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3rem;
    
}
.image img{
    width: 12rem;
    height: auto;
}

.image{
    width: 12rem;
    align-items: center;
}

.customers__more{
    width:auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.companies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem 0;
}

.companies img{
    width:90px;
    height:50px;
}

  p {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.5rem;
  }