.bodysection{
    width: auto;
    display: flex;
    padding: 4rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
}

.help {
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.stats{
    width:30rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
}

.stats__nums{
    width: 10rem;
    height: auto;
    text-align: left;
    gap: 0.5rem;
}

.stats__nums, h2, p{
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}

h2{
    font-family: sans-serif, Arial, Helvetica;
}